{% extends "base.html" %}
{% block content %}

<div class="row ">
	<div class="col-lg-12">
		<h3>Edit Note {{ note.title }}</h3>
	</div>
</div>
<!-- /.row -->
	<hr/>
<form class="form-horizontal" role="form" action="" method="post">
   <div class="form-group">
      <label for="id_author" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-6">
         <input type="text" class="form-control" id="id_author" name="title" value="{{ note.title }}"
            placeholder="Title of the Notes">
      </div>
   </div>
   <div class="form-group">
      <label for="id_text" class="col-sm-2 control-label">Text</label>
      <div class="col-sm-6">
		<textarea type="text" class="form-control" style="height:100px;" name="text" id="id_text" value="{{ note.text }}" placeholder="Enter your notes here" >{{ note.text }}</textarea>
      </div>
   </div>
   <div class="form-group">
        <label for="id_priority" class="col-sm-2 control-label">Priority</label>
		<div class="col-sm-6">
		  <select name="priority" id="id_priority" class="form-control">
			<option value="High">High</option>
			<option value="Medium" selected="selected">Medium</option>
			<option value="Low">Low</option>
		  </select>
		</div>			
   </div>
   <div class="form-group">
        <label for="id_status" class="col-sm-2 control-label">Status</label>
		<div class="col-sm-6">
      <select name="status" id="id_status" class="form-control">
        <option value="On Going">On Going</option>
        <option value="Completed">Completed</option>
      </select>
		</div>			
   </div>   
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
         <button type="submit" value="submit" class="btn btn-default">Update</button>
		 <button href="/delete" value="submit" class="btn btn-default">Delete</button>
      </div>
   </div>
</form>
{% endblock content %}

